@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Knewave&family=Mogra&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  padding-top: 1rem;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.divTitulo {
  /* border: 2px solid black; */
  position: relative;
}

.back-button {
  /* border: 1px solid black; */
  position: relative;
  left: 190px;
  top: 45px;
}


.Titulo {
  text-align: center;
  font-family: "Bree Serif", serif;
  font-weight: 600;
  margin-bottom: 1.8rem;
  margin-top: -16px;
  font-size: 49px;
  text-transform: uppercase;
  /* border: 2px solid blue; */
}

.botonAgregar {
  background-color: #182438;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  margin-left: 185px;
  /* border: 3px solid green; */
}

.botonAgregar:hover {
  background-color: #202020;
  transform: translateY(-2px);
}


.tabla {
  /* border: 2px solid rgb(255, 0, 0); */
  margin: 0 70px;
}


.simple-table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.simple-table th,
.simple-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}


.simple-table thead th {
  font-size: 25;
  color: white;
  background-color: #494949;
}



.simple-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}



.icon-button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  transition: background-color 0.3s, border-radius 0.3s;
}

.icon-button.x i {
  color: red;
  font-weight: 900;
}

.icon-button.lapiz i {
  color: green;
  font-weight: 900;
}