@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Knewave&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-card {
  width: 420px;
  padding: 2rem;
  background-color: #1a1a1a;
  border: 2px solid #00ffff;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 255, 255, 0.2);
}

.modal-title {
  text-align: center;
  font-family: "Tourney", sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 1px 1px 9px #ffffff;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 4px;
  padding: 0.5rem;
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-input {
  width: 18px;
  height: 18px;
}

.check{
  color: white;
}


.input-field {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  padding: 0.5rem;
  caret-color: white;
}

.field input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn {
  width: 48%;
  height: 35px;
  border: none;
  border-radius: 4px;
  font-size: 0.85em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.cancelar {
  background-color: #555;
  color: white;
}

.cancelar:hover {
  background-color: #777;
}

.guardar {
  background-color: #00ffff;
  color: #000;
}

.guardar:hover {
  background-color: #66ffff;
}

form .error {
  color: rgb(216, 216, 216) !important;
  font-size: 0.85rem;
  margin-top: 0px;
}